.question-choices, .question-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  row-gap: 0.5em;
}

.list-container {
  width: min(100%, var(--default-container-size));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  row-gap: 1em;
  padding: 0 1em;
}

.list-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  div {
    display: flex;
    column-gap: 1em;
    justify-content: space-between;
  }
}

.select-quiz {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  row-gap: 1em;
  flex-wrap: wrap;

  select {
    text-align: center;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  input {
    text-align: right;
  }
}

header {
  display: flex;
  background-color: darkcyan;
  align-items: center;

  img {
    border-radius: 50%;
    height: 3.34em;
    width: 3.34em;
    margin: 1em;
  }

  .mirror-image {
    transform: scaleX(-1);
  }

  h1 {
    flex-grow: 1;
  }
}

.App {
  text-align: center;
}

:root {
  --default-container-size: 768px;
}