.manager-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  align-items: center;
  padding: 0 0.5em 0.5em 0.5em;

  .manager-radiogroup {
    display: flex;
    column-gap: 1em;
  }

  .questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;

    div {
      width: 100%;
      display: flex;
      flex-direction: row;
      column-gap: 1em;
      justify-content: center;
    }

    label {
      width: 100%;
      display: flex;
      column-gap: 1em;
      flex-wrap: nowrap;

      select {
        flex: 1 0 auto;
      }
    }
  }

  .manage-questions {
    width:100%;
    display: flex;
    flex: 1 0 auto;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 1em;

    @media (max-width: 480px) {
      flex-direction: column;  
      align-items: center;
      row-gap: 1em;
    }

    div {
      flex: 1 0 50%;
    }

    textarea {
      width: 100%;
      height: 25vh;
    }
  }

  .manage-category > * {
    width: 100%;
  }

  .manage-category {
    width: min(100%, var(--default-container-size));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.5em;
    align-items: center;
    justify-content: center;

    @media (max-width: 480px) {
      flex-direction: column;
    }

    label {
      flex: 1 0 33%;
    }

    select, .manager-input-btn-group {
      flex: 1 0 67%;
    }

    input {
      flex: 1 0 auto;
    }

    button {
      flex: 0 0 auto;
    }

    .add-success-failure {
      flex: 1 0 100%;
    }
  }

  .manager-input-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5em;
  }
}

.top-btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1em;
  padding: 1em;
}


input[type='radio'].question-radio:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio'].question-radio:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  background-color: black;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.dark-container {
  border-radius: 1em;
  padding: 1em;
  background-color: var(--bs-dark);
  color: white;
}

.question-space {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.question-feedback {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.question-choices, .question-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.5em;
}

.question-choices label {
  width: 100%;
  text-align: left;
  display: flex;
  column-gap: 1em;
  padding: 0 0 0 5px;
}

label.correct-choice {
  background-color: var(--bs-form-valid-color);
  color: white;
  border-radius: 1em;
}

.list-container {
  width: min(100%, var(--default-container-size));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 0 1em 1em 1em;
}

.list-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  div {
    display: flex;
    column-gap: 1em;
    justify-content: space-between;
  }
}

.select-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0 0 0;
  row-gap: 1em;

  select {
    text-align: center;
    min-width: var(--default-input-size);
  }

  label {
    display: flex;
    flex-direction: column;
  }

  input {
    text-align: right;
    min-width: var(--default-input-size);
  }
}

header {
  display: flex;
  background-color: darkcyan;
  align-items: center;

  img {
    border-radius: 50%;
    height: 3.34em;
    width: 3.34em;
    margin: 1em;
  }

  .mirror-image {
    transform: scaleX(-1);
  }

  h1 {
    flex-grow: 1;
  }
}

.App {
  text-align: center;
}

:root {
  --default-container-size: 768px;
  --default-input-size: 240px;
}