.top-btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1em;
  padding: 1em;
}


input[type='radio'].question-radio:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio'].question-radio:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  background-color: black;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.dark-container {
  border-radius: 1em;
  padding: 1em;
  background-color: var(--bs-dark);
  color: white;
}

.question-space {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.question-feedback {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.question-choices, .question-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.5em;
}

.question-choices label {
  width: 100%;
  text-align: left;
  display: flex;
  column-gap: 1em;
  padding: 0 0 0 5px;
}

label.correct-choice {
  background-color: var(--bs-form-valid-color);
  color: white;
  border-radius: 1em;
}

.list-container {
  width: min(100%, var(--default-container-size));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 0 1em 1em 1em;
}

.list-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  div {
    display: flex;
    column-gap: 1em;
    justify-content: space-between;
  }
}

.select-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0 0 0;
  row-gap: 1em;

  select {
    text-align: center;
    min-width: var(--default-input-size);
  }

  label {
    display: flex;
    flex-direction: column;
  }

  input {
    text-align: right;
    min-width: var(--default-input-size);
  }
}

header {
  display: flex;
  background-color: darkcyan;
  align-items: center;

  img {
    border-radius: 50%;
    height: 3.34em;
    width: 3.34em;
    margin: 1em;
  }

  .mirror-image {
    transform: scaleX(-1);
  }

  h1 {
    flex-grow: 1;
  }
}

.App {
  text-align: center;
}

:root {
  --default-container-size: 768px;
  --default-input-size: 240px;
}